<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bootstrap demo</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="background-color: black;>
<%- include('navbar') %>

   <div class="alert alert-success" role="alert" style="position: relative;
  bottom: -15vh;transform: scale(0.95);">
      <h4 class="alert-heading">Well done!</h4>
      <p>The date is succesfully added to the company database in collection of employee</p>
      <hr>
      <p class="mb-0">This is a conformation.</p>
   </div>
</body>

</html>
