body{
    background-color: darkolivegreen;
    color: azure;
}
h1{
    background-color: cornflowerblue;
    color: black;
}
h2{
    background-color: bisque;
    color: black;
}
h3{
    background-color: blueviolet;
    color: red;
}
